body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 70%;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 15px;
}

.profile-info h2 {
  margin: 0;
  color: #37517E;
}

.profile-info p {
  margin: 0;
}

.contact-section,
.education-section,
.tools-section,
.skills-section {
  margin-bottom: 25px;
}

.contact-section h3,
.education-section h3,
.tools-section h3,
.skills-section h3 {
  margin: 0;
  color: #37517E;
}

.contact-section ul,
.education-section ul,
.tools-section ul,