/Общие стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: normal; /Убираем стандартное жирное написание заголовков */
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.text--bold {
    font-weight: bold;
}

/Стили для header */
.header {
    background-color: #f0f0f0;
    padding: 20px 0;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.header__info {
  /Убираем лишний отступ сверху */
}

.divider {
    margin: 10px 0;
    border-top: 1px solid #ccc;
}


.container--header {
    display: flex;
    align-items: center; /Выравнивание по вертикали */
}

/Стили для контактов */
.contacts {
    margin-bottom: 20px;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin-bottom: 10px;
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle; /Выравнивание логотипа и текста */
}

.contact__link{
  text-decoration: none; /Убираем подчеркивание ссылок */
  color: #333;
}

/Стили для секции с образованием */
.education-section, .tools, .skills {
    margin-bottom: 20px;
}

/Стили для секции с инструментами */
.tools ul {
    list-style-type: disc;
    padding-left: 20px;
}

/Стили для секции с навыками */
.skills ul {
    list-style-type: disc;
    padding-left: 20px;
}


/Стили для about-me */
.about-me-section {
    margin-bottom: 20px;
}

/Отступы для разделов */
.left-section {
  margin-right: 20px; /Отступ между левой и правой колонками */
  width: 70%; /Задаем ширину левой колонки */
  float: left;
}

.right-section {
  width: 30%; /Задаем ширину правой колонки */
  float: right;
}

@media (max-width: 768px) {
  /Отзывчивый дизайн для экранов меньше 768 пикселей */
  .left-section, .right-section {
    width: 100%;
    float: none; /Убираем плавающие колонки */
    margin-right: 0; /Убираем отступ между колонками */
  }
}

